<!DOCTYPE html>
<html>
<head>
  <title>FightClub</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<img class="homepage-banner" src="<%=image_path("homepage_banner.jpg")%>"/>

<section class="container">
  <section class="header-toolbar group">
    <h1 class="logo"> <img src="<%=image_path("logo.png")%>"/> </h1>
    <a class="groups-button" href="#/"> Groups <a>
    <% @user = current_user %>
    <% if @user.nil? %>

      <a class="signout-button" href="<%= new_user_url %>">Sign Up</a>
      <a class="signout-button" href="<%= new_session_url %>">Sign In</a>

    <% else %>
      <a class="toolbar-thumbnail-link" href="#/profile" title="profile">
        <img class="toolbar-thumbnail" src="<%= image_path(@user.profile_img.url) %>"/>
      </a>
      <form method="POST" action="<%= session_url %>">
        <%= auth %>
        <input type="hidden" name="_method" value="delete">
        <button class="signout-button"> Sign Out </button>
      </form>
    <% end %>
    </section>





  <%= yield %>
  <div id="content"></div>




</section>

</body>
</html>
