<!DOCTYPE html>
<html>
<head>
  <title>FightClub</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<script type"text/javascript">

  window.FightClub = window.FightClub || {}

  window.FightClub.logoUrl = "<%= image_path('logo.png') %>"
  window.FightClub.fightUrl = "<%= image_path('fight.gif') %>"
  window.FightClub.koUrl = "<%= image_path('ko.gif') %>"
  window.FightClub.groups = "<%= image_path('groups2.png') %>"
  window.FightClub.sign_in = "<%= image_path('sign_in2.png') %>"
  window.FightClub.sign_up = "<%= image_path('sign_up2.png') %>"
  window.FightClub.create_group = "<%= image_path('create_group2.png') %>"
  window.FightClub.sign_out = "<%= image_path('sign_out2.png') %>"

</script>
<div class="homepage-banner-container"></div>
  <img class="homepage-banner" src="<%=image_path("homepage_banner.jpg")%>"/>

<div class="background-header-toolbar"></div>
<section class="container">




  <%= yield %>
  <div id="content"></div>



</section>

</body>
</html>
