<!DOCTYPE html>
<html>
<head>
  <title>FightClub</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<script type"text/javascript">

  window.FightClub = window.FightClub || {}

  window.FightClub.logoUrl = "<%= image_path('logo.png') %>"

</script>
<img class="homepage-banner" src="<%=image_path("homepage_banner.jpg")%>"/>

<div class="background-header-toolbar"></div>
<section class="container">




  <%= yield %>
  <div id="content"></div>



</section>

</body>
</html>
