<!DOCTYPE html>
<html>
<head>
  <title>SampleProjectProposal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content"></div>

<%= yield %>
<% if current_user.nil? %>
  <a href="<%= new_session_url %>">Sign In</a>
  <a href="<%= new_user_url %>">Sign Up</a>
<% else %>
  <%= current_user.useremail %>
  <form method="POST" action="<%= session_url %>">
    <%= auth %>
    <input type="hidden" name="_method" value="delete">
    <button> Sign Out </button>
  </form>
<% end %>

</body>
</html>
