<!DOCTYPE html>
<html>
<head>
  <title>FightClub</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="container">
  <section class="header-toolbar group">
    <h1 class="logo"> <img src="<%=image_path("logo.png")%>"/> </h1>
    <% @user = current_user %>
    <% if @user.nil? %>

      <a class="signout-button" href="<%= new_user_url %>">Sign Up</a>
      <a class="signout-button" href="<%= new_session_url %>">Sign In</a>

    <% else %>
      <a href="#/profile" title="profile">
        <img class="toolbar-thumbnail" src="<%= @user.profile_img_url %>"/>
      </a>
      <form method="POST" action="<%= session_url %>">
        <%= auth %>
        <input type="hidden" name="_method" value="delete">
        <button class="signout-button"> Sign Out </button>
      </form>
    <% end %>
  </section>




  <div id="content"></div>
</section>
  <%= yield %>




</body>
</html>
